html{
	font-family: Geneva, Tahoma;
}
.container, body{
	margin: 0;
	padding: 0;
}
.nav{
	display: flex;
	flex-direction: row;
	height: 3rem;
	background-color: skyblue;
	align-items: center;
	text-align: center;
}
h1{
	color: darkred;
}
.nav-bar{
	display: flex;
	flex: 1;
}
.header{
	flex: 2;
}

.nav-link{
	flex: 1;
}

table{
	border-collapse: collapse;
}

th, td{
	border: 1px black solid;
}